@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    height: 200px;
    background-image: url(/img/VW.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: aliceblue;
    padding-top: 400px;
}

.distance {
    height: 500px;
}

.middle {
    height: 500px;
    color: white;
    text-align: center;
}